@import "tailwindcss";
.active{
    border-top:1px solid;
}
@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/ShareTech-Regular.ttf');
  font-weight: lighter;
  font-style: normal;
}
.font-my-font{
  font-family: 'MyFont',sans-serif;
}
@font-face {
  font-family: 'MyFont2';
  src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf');
  font-weight: lighter;
  font-style: normal;
}
.font-my-font2{
  font-family: 'MyFont2',sans-serif;
}